*{
  margin:0;
  padding:0;
}
li{
  list-style: none;
}
#list{
  width: 1000px;
  margin:20px;
}
#list li{
  display: flex;
  border-bottom: 1px solid #eee;
  padding: 20px 0;
}
#list li .img{
  margin-right: 10px;
}
.search{
  margin: 20px 0 0 20px;
}
.search input{
  width: 90%;
  padding: 8px 5px;
  border-radius: 5px;
}
.search button{
  padding:8px 5px;
  border-radius: 5px;
}